<div vocab="http://schema.org" typeof="Event" class="card event-main">
    {% if post.event-start %}
    <meta property="startDate" content="{{ post.event-start | date: '%Y%m%dT%H%M%S' }}" />
    {% else %}
    <meta property="startDate" content="{{ post.date | date: '%Y%m%dT%H%M%S' }}" />
    {% endif %}
    {% if post.event-end %}
    <meta property="endDate" content="{{ post.event-end | date: '%Y%m%dT%H%M%S' }}" />
    {% endif %}
    <h1 class="event-title" property="name"><a href="{{include.url}}">{{ include.title }}<i class="ml-2 fas fa-link"></i></a></h1>
    <p class="lede event-description" property="description">{{ include.description }}</p>
    <div class="event-detail">
        <div class="event-detail-text">
            <p class="event-date">{{ include.date | date_to_long_string }}</p>
            <p>{{ include.event-time }}</p>
            <p class="event-location" property="location" typeof="Place"><span property="address">{{ include.event-location }}</span></p>
        </div>
        <a target="_blank" href="/calendar/latest.ics" download class="event-cta text-center action-text">
            <i class="event-cta-icon fas fa-calendar-plus fa-3x"></i> 
            <span class="event-cta-text">Add to calendar</span>
        </a>
    </div>
    <div class="event-author">
        {% for a in include.author %}
        {% assign author = site.data.authors[a] %}
        <div property="performer" typeof="Person" class="author-item">
            <img property="image" class="author-image" src="{{ author.image }}" alt="{{ author.name }}" />
            <span class="author-name" class="ml-2" property="name">{{ author.name }}</span>
        </div> 
        {% endfor %}
    </div>
</div>