<footer>
  <div class="container level">
    <span class="discreet">
      &copy; Copyright 2000-
      <script language="JavaScript" type="text/javascript">
        now = new Date();
        theYear = now.getYear();
        if (theYear < 1900) theYear = theYear + 1900;
        document.write(theYear);
      </script>
      The Regents of the University of California, Davis campus. All rights
      reserved.
    </span>
    <a class="discreet" href="https://github.com/ucdavis/appdev"><i class="fab fa-github fa-2x"></i></a>
  </div>
</footer>
