<header>
    <div class="header_contents">
        <div class="logo_wrapper">
            <a href="{{site.baseurl}}/"><h1><img class="logo" src="{{site.baseurl}}/media/appdev_logo.png" alt="" style="width: 41px; height: 41px;">Application Developer's Group</h1></a>
        </div>
        <div class="search_wrapper">
            <a href="https://www.ucdavis.edu/"><img class="caes_logo" src="{{site.baseurl}}/media/ucd_logo.png" alt=""></a>
        </div>
    </div>
</header>
<div class="nav_wrapper">
    <nav id="nav" role="navigation">
        <a class="nav_open" href="#nav" title="Show navigation"><i class="fa fa-bars"></i></a>
        <a class="nav_close" href="#" title="Hide navigation"><i class="fa fa-times"></i></a>
        <ul id="nav_upperlevel">
            <li>
                <a href="{{site.baseurl}}/events">Meetings</a>
            </li>
            <li>
                <a href="{{site.baseurl}}/blog">Blog</a>
            </li>
            <li>
                <a href="#" aria-haspopup="true">Guides</a>
                <ul class="submenu">
                    <li><a href="{{site.baseurl}}/orientation">Getting&nbsp;Started</a></li>
                    <li><a href="{{site.baseurl}}/experts">Subject&nbsp;Matter&nbsp;Experts</a></li>
                    <li><a href="{{site.baseurl}}/opensource">Open&nbsp;Source</a></li>
                </ul>
            </li>
            <li>
              <a href="{{site.baseurl}}/projects">Projects</a>
            </li>
            <li>
              <a href="{{site.baseurl}}/survey">Survey</a>
            </li>
            <li>
                <a href="#" aria-haspopup="true">About</a>
                <ul class="submenu">
                    <li><a href="{{site.baseurl}}/about">About&nbsp;the&nbsp;Group</a></li>
                    <li><a href="{{site.baseurl}}/contact">Contact</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
