<header>
  <div class="container">
    <div class="brand-wrapper">
      <div class="applogo">
        <a href="{{site.baseurl}}/">
          <h1>Application Developer's Group</h1>
          <!-- <img
              class="logo"
              style="padding: 0 0.8rem; min-width:31px;"
              src="{{site.baseurl}}/media/developer-squares.svg"
            /> -->
        </a>
      </div>
      <a class="ucdlogo" href="https://ucdavis.edu">
        <img
          class="logo"
          style="min-width: 125px"
          src="{{site.baseurl}}/media/ucdavis-white.svg"
        />
      </a>
    </div>
    <nav class="navbar navbar-expand">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle {% if page.url contains '/guidelines' %} active {% endif %}"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Guidelines
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for post in site.guidelines %}
            <a class="dropdown-item" href="{{post.url}}">{{post.title}}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if page.url contains '/events' %} active {% endif %}"
            href="{{site.baseurl}}/events"
            >Events</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if page.url contains '/projects' %} active {% endif %}"
            href="{{site.baseurl}}/projects"
            >Projects</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if page.url contains '/survey' %} active {% endif %}"
            href="{{site.baseurl}}/survey"
            >Survey</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
