.action-text {
  line-height: 40px;
  font-size: 1.6rem;
  text-decoration: none;
  font-family: $sans-bold;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  transition: transform 0.15s ease;
  &:hover {
    transform: translateY(-1px);
  }
}
.btn {
  @extend .action-text;
  white-space: nowrap;
  display: inline-block;
  padding: 0 20px;
  background: $primary-color;
  border-radius: 2px;
  color: #fff !important;
  border: none;
  box-shadow: $box-shadow;
  &:active,
  &:focus {
    background-color: darken($primary-color, 5);
  }
  &:hover {
    color: #fff !important;
    background-color: lighten($primary-color, 5);
  }
}
.btn-secondary {
  background: $secondary-color;
  color: #fff !important;
  &:active,
  &:focus {
    background-color: darken($secondary-color, 5);
  }
  &:hover {
    color: #fff !important;
    background-color: lighten($secondary-color, 5);
  }
}
.inverse-btn {
  @extend .btn;
  padding: 1rem 2rem;
  background: #ffffff;
  color: $primary-color !important;
  &:active,
  &:focus {
    background-color: darken(#ffffff, 5);
  }
  &:hover {
    color: $primary-color !important;
    background-color: lighten(#ffffff, 5);
    text-decoration: none;
  }
}
.primary-color {
  color:$primary-color;
}
.secondary-color {
  color:$secondary-color;
}
.card {
  border:none;
  box-shadow: $box-shadow;
  padding:24px !important;
}
.secondary-font {
  color:$secondary-font !Important;
}
.section-learn-more {
  font-weight: bold;
  margin-top: auto;
  a {
    text-decoration: none;
  }
  i {
    color:$secondary-color;
  }
}
.flex-grow-zero {
  flex-grow: 0;
}
.video-frame {
  padding: 1.5rem;
  box-shadow: 0 0 3px black;
  margin: 3rem 0;
}
.guideline-card-wrapper {
  margin-bottom: 3rem;
}
.card.guideline-card {
  margin: 1rem;
  margin-top: calc(1rem + #{$guideline-icon-size / 2});
  min-width: 30rem;
  max-width: 42rem;
  padding: $card-padding;
  .card-header {
    background-color: transparent;
    border-bottom: none;
  }
}

// ICONS
.icon-round-border {
  @extend .circle;
  @extend .border-1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
@mixin icon-color($color) {
  @extend .icon-round-border;
  border-color: $primary-color;
  color: $primary-color;
  background-color: transparentize($primary-color, 0.6);
}
.icon-primary {
  @include icon-color($primary-color);
}
.guideline-card-icon {
  width: $guideline-icon-size;
  height: $guideline-icon-size;
  margin-top: calc(-#{$guideline-icon-size / 2} - #{$card-padding});
  margin-bottom: 2rem;
  font-size: #{$guideline-icon-size / 2};
}
.tertiary-font {
  color:$tertiary-font;
}
.bt-1 {
  border-top:1px solid $borders;
}
