*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height:100%;
}
body {
  display: flex;
  flex-direction: column;
  height:100%;
}
.page-wrap {
  flex: 1 0 auto;
}
header {
  background-color: $primary-color;
  padding:1.6rem 0;
  h1 {
    color:#fff;
    font-size:2.6rem;
    margin-bottom:0px;
    font-family: $sans-bold;
  }
}
#breadcrumbs {
  margin-bottom:24px;
  font-size:1.4rem;
  color:transparentize($primary-color,0.25);
  a {
    color:$tertiary-font;
    &:hover {
      color:$primary-color;
    }
  }
}
.sidebar {
  margin-top:5%;
  .sidebar-section {
    margin-bottom:16%;
  }
}
.content-wrapper {
  margin-top:40px;
  iframe {
    width:100%;
  }
}
.level {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
footer {
  padding: 5rem 0;
}
.flex-basis-third {
  flex-basis: calc(100% / 3);
}
.flex-basis-zero {
  flex-basis: 0;
}