*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height:100%;
}
body {
  display: flex;
  flex-direction: column;
  height:100%;
}
.page-wrap {
  flex: 1 0 auto;
}
header {
  background-color: $primary-color;
  padding:1.6rem 0;
  h1 {
    color:#fff;
    font-size:2.6rem;
    margin-bottom:0px;
  }
}
footer {
  margin-top:1.6rem;
  flex-shrink: 0;
  margin-bottom:2rem;
}
