*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.page-wrap {
  flex: 1 0 auto;
}
.brand-wrapper {
  @extend .level;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    .ucdlogo {
      order: 1;
      margin-bottom: 16px;
    }
    .applogo {
      order: 2;
    }
  }

  @include breakpoint(md) {
    flex-direction: row;
  }
}
header {
  background-color: $primary-color;
  padding-top:2.4rem;
  padding-bottom:0;

  @include breakpoint (smmax){
    text-align: center;
  }
  h1 {
    color:#fff;
    font-size:2.6rem;
    margin-bottom:0px;
    font-family: $sans-bold;
  }
}
#breadcrumbs {
  margin-bottom:24px;
  font-size:1.4rem;
  color:transparentize($primary-color,0.25);
  a {
    color:$tertiary-font;
    &:hover {
      color:$primary-color;
    }
  }
}
.sidebar {
  margin-top:5%;
  .sidebar-section {
    margin-bottom:16%;
  }
}
.content-wrapper {
  margin-top:40px;
  iframe {
    width:100%;
  }
}
.level {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
footer {
  padding: 5rem 0;
  flex-shrink:0;
}
.flex-basis-third {
  flex-basis: calc(100% / 3);
}
.flex-basis-zero {
  flex-basis: 0;
}
