// homepage-section
.homepage-section {
  padding:5% 0;
  margin:36px 0;
}
.sdl-card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: $box-shadow;
  padding:48px;
}
// Event Landing
.homepage-meeting {
  background-image: url("/media/programmer-pattern.png");
  background-repeat: repeat;
}
.event-bg-wrapper {
  background-image: url("/media/event-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:48px;
}
.homepage-swirl {
  background-image: url("/media/sdl-swirl.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.event-cta {
  border-left:1px solid $borders;
  align-items: center;
}
.expired-event {
    margin:8px;
}
.event-more-link {
  align-self: stretch;
  margin-top:auto;
  margin-bottom:0px;
  font-size: 1.6rem;
  a {
    color:$secondary-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.author-item {
  font-family: $sans-bold;
  font-size:1.8rem;
}
.author-image {
  @extend .icon-round-border;
  width:40px;
  height:40px;
  margin-right: 1.5rem;
}

//banner

.banner {
  background-color:$primary-color;
  // background-image: url("/media/tree.svg");
  // background-position-x: right;
  // background-position-y: bottom;
  // background-repeat: no-repeat;
  // background-size: 50%;
  .banner-contents {
    padding:80px 0;
    h1 {
      color:#fff;
    }
    p {
       color:#fff;
    }
  }
}

// homegrown section
.homegrown-button {
  height:60px;
  padding:0 16px;
  background-color: #EFEFEF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $sans-bold;
  color:$tertiary-font;
  font-size:2.4rem;
  margin:8px 0;
  &:hover {
    background-color:darken(#efefef,5);
    color:$tertiary-font;
  }
}
//sdl
p.practice {
  font-size:1.4rem;
  font-family: $sans-bold;
  color:$secondary-color;
  text-transform: uppercase;
}
ul.sdl-list {
  span {
    text-transform: uppercase;
    font-weight: bold;
    font-size:1.2rem;
  }
  li {
    margin:0;
    margin-bottom:-1px;
  }
  li a {
    color:$primary-font;
    font-size:1.6rem;
    display: block;
    padding: 16px 8px;
    border:1px solid $borders;
    &:hover {
      background-color:$bg-color;
    }
  }
}
