// baseline typography
html {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    line-height: 1.5;
}
body {
    font-family: $sans-reg;
}
a {
  color:$a-link;
  &:hover {
    color:darken($a-link,0.5);
  }
  p & {
    font-weight: 700;
    text-decoration: underline;
    &:hover {
      text-decoration: underline;
    }
  }
}
a.no-underline {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul, ol {
  &.no-list-style {
    list-style-type: none;
    padding-left:0px;
    li {
      margin:4px 0px;
      font-family: $sans-reg;
      color:$primary-font;
    }
  }
  li {
    font-size:1.6rem;

  }
}

p {
  font-size:1.6rem;
  font-family: $sans-reg;
  color:$primary-font;
  footer & {
    color:rgba(255,255,255,.95);
    font-size:1.4rem;
    font-family: $sans-bold;
    margin-bottom:0;
  }
  &.discreet {
    font-size:1.4rem;
    color:$secondary-font;
  }
  &.caption {
    text-align: center;
    margin: 5px 10px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primary-font;
    font-family:$sans-bold;
    // margin: 1.6rem 0rem 1rem 0rem;
}
h1 {
  font-size:3.4rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 2rem;
}
.event-date {
  color:$primary-color;
  font-size:1.6rem;
  text-transform: uppercase;
  font-family: $sans-bold;
  margin-bottom:4px;
}
.event-location {
  color:$secondary-font;
  font-size:1.8rem;
  text-transform: uppercase;
    font-weight: 100;
}
.lede {
  color:$secondary-font;
  font-weight: 100;
  font-size:2rem;
  line-height: 3rem;
}
