<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
        {{ content }}
    {% include footer.html %}
  </body>

  <script src="{{site.baseurl}}/js/uisearch.js"></script>
  <script type="text/javascript">
    // Modal
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').focus()
    });

    // Slider
    $(window).load(function() {
      $('#slider').nivoSlider();
    });

    // Active nav
    $(function() {
       if (location.pathname.split("/")[1]) {
           $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
       }
    });

    //new UISearch( document.getElementById( 'sb-search' ) );

    $(".breadcrumb li").last().addClass('active');

    $(document).ready(function(){
      $('.gallery').featherlightGallery();
    });
  </script>

  <!-- Searchpopup -->
  <script src="{{site.baseurl}}/js/classie.js"></script>
  <script src="//cdn.rawgit.com/noelboss/featherlight/1.3.5/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="//cdn.rawgit.com/noelboss/featherlight/1.3.5/release/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>
</html>
