---
layout: default
---


<div class="container content-wrapper">
  <h1>Security Development Lifecycle</h1>
  {% include breadcrumbs.html %}
  <div class="row sdl-container">
    <ul class="sdl-list col-4 no-list-style">
      {% for post in site.sdl %}
      <li class="{%- if page.url == post.url -%}active{%- endif -%}">
        <a href="{{post.url}}" class="d-flex align-items-center">
          <img src="/media/icons/{{ post.icon }}.svg" alt="icon of {{ post.title }}">
          <div>
            <span class="tertiary-font">
              practice #{{ post.practice }}
            </span>
            <br />
            {{post.title}}
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>

    <div class="col-8 mt-5">
      <img
        style="min-height:40px"
        src="/media/icons/{{ page.icon }}.svg"
        alt="{{ page.title }} {{ page.icon }}"
      />
      <p class="practice">
        Practice #{{ page.practice }}
      </p>
      <h1>{{ page.title }}</h1>
      <p class="lede">{{ page.description }}</p>
      {{ content }}
    </div>
  </div>
</div>
