---
layout: default
---


<div class="container content-wrapper">
  <h1>Security Development Lifecycle</h1>
  {% include breadcrumbs.html %}
  <div class="row bt-1">
      <ul class="col-4 sdl-list no-list-style">
        {% assign posts = site.sdl | sort_natural: "practice" %}
        {% for post in posts %}
          <li class="{%- if page.url == post.url -%}active{%- endif -%}">
          <a href="{{post.url}}" class="d-flex align-items-center">
            <img class="flex-shrink-0" src="/media/icons/sdl/{{ post.icon }}.svg" alt="icon of {{ post.title }}">
            <div>
              <span class="tertiary-font">
                practice #{{ post.practice }}
              </span>
              <br />
              {{post.title}}
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    <div class="col-8 mt-5">
      <img
        style="min-height:40px"
        src="/media/icons/sdl/{{ page.icon }}.svg"
        alt="{{ page.title }} {{ page.icon }}"
      />
      <p class="practice">
        Practice #{{ page.practice }}
      </p>
      <h1>{{ page.title }}</h1>
      <p class="lede">{{ page.description }}</p>
      {{ content }}
    </div>
  </div>
</div>
