---
layout: default
---
<div class="content-wrapper">
  <div class="container">
    <div class="row no-gutters">
      {% for post in site.categories.events limit:1 %}
      <div class="col card event-main">
        <div class="d-flex justify-content-between">
          <div class="col-8">
            <p class="event-date">{{ post.date | date_to_long_string }}</p>
            <p class="event-location">{{ post.event-location }} • {{ post.event-time }}</p>
            <h1>{{ post.title }}</h1>
            <p class="lede">{{ post.description }}</p>
              <p class="event-more-link"><a href="{{ post.url }}">Learn More <i class="fas fa-arrow-right"></i></a></p>
          </div>
          <div class="col-3 event-cta">
            <p><a href="">
              <i class="fas fa-calendar-plus"></i> <br>
              Add to Calendar
            </a></p>
          </div>
        </div>

      </div>
      {% endfor %}
    </div>
    </div>
<div class="event-bg-wrapper">
  <div class="container">

            <h1>Past Meetings</h1>

        <div class="row no-gutters">
            {% for post in site.categories.events %}

                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="card d-flex flex-column expired-event">
                      <p class="event-date">{{ post.date | date_to_long_string }}</p>
                      <p class="event-location">{{ post.event-location }} • {{ post.event-time }}</p>
                      <h2>{{ post.title }}</h2>
                      <p>{{ post.description }}</p>
                      <p class="event-more-link"><a href="{{ post.url }}">Learn More <i class="fas fa-arrow-right"></i></a></p>
                    </div>
                </div>





            {% endfor %}
          </div>


    </div>
  </div>
</div>


</div>
